<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <title>Lista de viajes programados</title>
</head>
<body>
<main>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/viajes/listaViajes'}">Viajes</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/mascotas/listaMascotas'}">Mascotas</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/persona/listaPersona'}">Persona</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container px-4 py-5">
        <h1 class="pb-2 border-bottom">Lista de viajes programados</h1>
        <div class="d-flex mt-3 mb-4">
            <a class="btn btn-primary" th:href="@{'/viajes/nuevoViajes'}">Nuevo viaje</a>
        </div>
        <table class="table datatable">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Persona</th>
                <th scope="col">Lugar </th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="viajes, info : ${listaViajes}">
                <th scope="row" th:text="${info.index+1}">1</th>
                <td th:text="${viajes.persona.nombre}">Persona</td>
                <td th:text="${viajes.lugares.nombreLugar}">Lugar</td>
                <td>
                    <a class="btn btn-primary" th:href="@{'/viajes/editarViajes?id=' + ${viajes.idViajes}}">Editar</a>
                    <a class="btn btn-primary" th:href="@{'/viajes/verViajes?id=' + ${viajes.idViajes}}" >Visualizar</a>
                    <a class="btn btn-primary" th:href="@{'/viajes/borrarViajes?id=' + ${viajes.idViajes}}">Borrar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>