<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <title>Agregar nuevo mascota</title>
</head>
<body>
<main>
    <div class="container px-4 py-5">
        <h1 class="pb-2 mb-3 border-bottom">Nuevo mascota</h1>
        <form method="post" th:action="@{/mascotas/guardarMascotas}" class="mt-2">
            <div class="mb-3">
                <label for="nombreMascota" class="form-label">Nombre</label>
                <input name="nombreMascota" type="number" class="form-control" id="nombreMascota">
            </div>
            <div class="mb-3">
                <label for="genero" class="form-label">genero</label>
                <input name="genero" type="text" class="form-control" id="genero">
            </div>
            <div class="mb-3">
                <label for="edad" class="form-label">edad</label>
                <input name="edad" type="text" class="form-control" id="edad">
            </div>
            <div class="mb-3">
                <label for="fechaNacimiento" class="form-label">fechaNacimiento</label>
                <input name="fechaNacimiento" type="text" class="form-control" id="fechaNacimiento">
            </div>
            <div class="input-group mb-3">
                <label for="persona">Seleccionar persona</label>
                <div class="col-12">
                    <select name="persona" id="persona" class="form-control">
                        <option th:each="persona: ${listaPersona}"
                                th:text="${persona.nombre}" th:value="${persona.idPersona}">Persona</option>
                    </select>
                </div>
            </div>
            <div class="input-group mb-3">
                <label for="lugares">Seleccionar lugares</label>
                <div class="col-12">
                    <select name="lugares" id="lugares" class="form-control">
                        <option th:each="lugares: ${listaLugares}"
                                th:text="${lugares.nombreLugar}" th:value="${lugares.idLugares}">Sitio de Tipo</option>
                    </select>
                </div>
            </div>
            <a th:href="@{'/shipper/list'}" class="btn btn-danger">Cancelar</a>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</main>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>